.webpage{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap: 50px;
}

.sidebar{
    grid-row:  1/4;
    grid-column: 1 ;
    display:inline grid;
    row-gap: 20px;
    background-color: blue;
    color: white;
}

header{
    grid-row: 1;
    grid-column: 2 / span 4;
    display: grid;
}

.mainPage{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
}

.fullGrid{
    grid-row: 1/3;
    grid-column: 1/2;
}

.announceBox{
    display: inline grid;
    border-style: solid;
}

.trendingBox{
    display: inline grid;
    border-style: solid;
}